main {
    width: 100vw;
    margin: 0 auto;  
    height: 100vh;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    background-color: whitesmoke;

    display: grid;
    grid-gap: 10px 20px;

    grid-template-areas: 
        "cabecera"
        "izquierda"
        "contenido"
        "derecha"
        "piedepagina"
}

div {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* width >= 600px */
@media (min-width: 600px) { 
    main {
        grid-template-areas: 
        "cabecera cabecera cabecera"
        "izquierda contenido derecha"
        "piedepagina piedepagina piedepagina"  
    }
}

/* width <= 600px */
@media (max-width: 600px) { 
    main {
        grid-template-areas: 
        "cabecera cabecera"
        "izquierda contenido"
        "derecha piedepagina"  
    }
}

/* width >= 400 and width <= 600 */
@media (max-width: 600px) and (min-width: 400px) {
    main {
        grid-template-areas: 
        "cabecera izquierda"
        "piedepagina contenido"
        "piedepagina derecha"  
    }
}

.cabecera {
    grid-area: cabecera;
}

.izquierda {
    grid-area: izquierda;
}

.contenido {
    grid-area: contenido;
}

.derecha {
    grid-area: derecha;
}

.piedepagina {
    grid-area: piedepagina;
}

.cabecera {
    grid-area: cabecera;
}