main {
    display: grid;
    width: 100vw;
    margin: 0 auto;  
    height: 100vh;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    background-color: whitesmoke;

    display: grid;
    grid-gap: 10px 20px;

    grid-template-areas: 
        "cabecera"
        "izquierda"
        "contenido"
        "derecha"
        "piedepagina"
}

div {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.cabecera {
    grid-area: cabecera;
}

.izquierda {
    grid-area: izquierda;
}

.contenido {
    grid-area: contenido;
}

.derecha {
    grid-area: derecha;
}

.piedepagina {
    grid-area: piedepagina;
}

.cabecera {
    grid-area: cabecera;
}