main {
    display: grid;
    grid-gap: 5px;
    width: 100vw;
    margin: 0 auto;  
    height: 80vh;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    background-color: whitesmoke;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(3, 100px);
}

div {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 600px) {
    div:nth-child(10) {
        background-color: purple;
        color: whitesmoke;
        grid-column: 3 / 5;
        grid-row-start: 3;
    }

    div:nth-child(6) {
        background-color: purple;
        color: whitesmoke;
        grid-column: 2 / 3;
        grid-row: 2 / 4;
    }
}